*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

body{
  height: 100vh;
  display: flex;
  background: #cc0000;
}

.memory-game{
  width: 640px;
  height: 640px;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card{
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform:  scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active{
  transform: scale(.97);
  transition: transform .2s;
}

.memory-card.flip{
  transform: rotateY(180deg);
}

.front-face, .back-face{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #ff4d4d;
  backface-visibility: hidden;
}

.front-face{
  transform: rotateY(180deg);
}

.title{
  position:absolute;
  left: calc(50% - 55.5px);
  font-size: 50px;
  color: green;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.scoreH{
  position:absolute;
  left: 3%;
  font-size: 50px;
  color: green;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


.livesH{
  position:absolute;
  left: 85%;
  font-size: 50px;
  color: green;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
